body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color:#c4c3c3;
  background-color:#181718
}

.center-text{
  text-align: center;
}

.color-text{
  color:#c4c3c3;
}

.tab-button{
  width: 150px;
}

.tab-button-div{
  text-align: center;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}

.image-container {
  margin: auto;    
  display: block;
  padding-top: 10px;
  padding-right: 4px;
  padding-bottom: 6px;
  padding-left: 4px;
}

.btn-primary {
  color: #181718;
  background-color: #bb86FC;
  border-color: #bb86FC;
}

.btn-primary:hover {
  color: #fff;
  background-color: #aa64ff;
  border-color: #aa64ff;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #181718;
  background-color: #FCCF14;
  border-color: #FCCF14;
  box-shadow: 0 0 0 0.25rem #eec214;
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #181718;
  background-color: #FCCF14;
  border-color: #FCCF14;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem #eec214;
}
.btn-primary:disabled, .btn-primary.disabled {
  color: #fff;
  background-color: #aa64ff;
  border-color: #aa64ff;
}

.column-color{
  background-color:#232323;
  margin: 5px
}

.pills-size{
  height: 490px;
  width: 180px;
}

.other-info-size{
  height: 490px;
  width: 200px;
}

.bold-text {
  font-weight: bold;
}

#file-table{
    max-height: 600px;
    overflow: auto;
}

#delete1{
    float:right
}

/*
//#progress-bar{
    background-color:#fccf14; !important
}
*/
