<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.20.0/cytoscape.min.js"></script>
<div id="view" style="width:100%; height:100%;"></div>
<script>
let ws = null;
let layout =  {
    name: 'concentric',
	concentric: function(node){
		 
		if(node.id() == 'queen'){ return 1;}
		else {return 0};
	},
	levelWidth: function(nodes){
		return 1;
	},
	animate: true,
	animationDuration:1000,
	animationEasing: 'ease-in-sine',
	transitionDelay:2000,

	fit:true,
	padding:90,
	startAngle: 3 / 2*Math.PI,
	minNodeSpacing:100,
	
    rows: 1
  };
var cy = cytoscape({
	container: document.getElementById("view"),
	elements: [
	{
		data: {id: 'queen'},
		position: {x: 0, y: 0}
	}
	],
	style: [ // the stylesheet for the graph
    {
      selector: 'node',
      style: {
        'background-color': '#666',
        'label': 'data(id)'
      }
    },

    {
      selector: 'edge',
      style: {
        'width': 3,
        'line-color': '#ccc',
        'target-arrow-color': '#ccc',
        'target-arrow-shape': 'triangle',
        'curve-style': 'bezier'
      }
    }
  ],
  //layout: layout,
});

function addWorker(id, isOnline){

	
	/*let adddist = 100;
	locationRand = Math.random() * 2 * 3.141592653; 
	xpos = Math.cos(locationRand) * adddist;
	ypos = Math.sin(locationRand) * adddist;
	console.log(xpos, ypos);*/
	let nodeColor = 'gray';
	if(isOnline){
		nodeColor = '#fccf14';
	}
	
	let elesAdded = cy.add([
	{
		group:'nodes', data:{id:id,filesCollection: cy.collection() }, /*position:{ x: xpos, y: ypos},*/
		style: {backgroundColor: nodeColor},
		
	},
	{
		group:'edges',data:{id:'e'+id, source:'queen', target:id}, 
		
		pannable:true
	}
	]);
	
	if(elesAdded < 2) return;
	
	
	
	let justAdded = cy.getElementById(id);
	
	window.networkmembers.push(justAdded);
	window.networkmembers.layout(layout).run();
	
	justAdded.on('position',function(event){
		let yIncrement = -10;
		
		for(fileNode of justAdded.data().filesCollection){//speedup: only every 10?
			
			fileNode.position('x',justAdded.position().x + 25);
			 
			fileNode.position('y',justAdded.position().y+yIncrement);
			yIncrement += 20;
		}
		
	});
}

function addFileToNode(fileId, nodeId){
//old color '#3d9c94'
	if(cy.getElementById(fileId+' at ' + nodeId).length > 0){
		console.log("failed to add duplicate file");
		return;
	}

	let newone = cy.add({group:'nodes', data:{id:fileId+' at ' + nodeId}, style:
	{'width':'10%', 'height':'10%', 'background-color':colorFromID(fileId),
	
		'text-valign':'center',
		'text-halign':'right',
		'text-wrap':'ellipsis',
		'text-max-width':'80px',
	}
	});
	cy.getElementById(nodeId).data().filesCollection.push(newone);
	
	//hack to run reposition
	cy.getElementById(nodeId).position('x',cy.getElementById(nodeId).position().x);
	console.log(cy.getElementById(fileId))
}



function colorFromID(id){
	let hash = 0;
	for(var i = 0; i < id.length; i++){
		hash = id.charCodeAt(i) + ((hash << 5) - hash);
	}
	let c = (hash & 0x00FFFFFF).toString(16).toUpperCase();
	return '#'+('00000'.substring(0,6 - c.length) + c);
}

function addLoc(x,y){
cy.add({
		group:'nodes', data:{id:Math.random() }, position:{ x: x, y: y},
		
	});
}

let theQueen = {

}

function sendFile(hostid, destid, fileid, addToDest, doneCallback){
	let startcoords = cy.getElementById(hostid).position();
	let queencoords = cy.getElementById("queen").position();
	let endcoords = cy.getElementById(destid).position();
	let file = cy.add(
	{group:'nodes', 
		data:{id:fileid+'-transitto-'+destid}, 
		position:{x:startcoords.x, y:startcoords.y}, 
		style:{
			'backgroundColor':colorFromID(fileid),
			'text-wrap':'ellipsis',
			'text-max-width':'80px',
			'width':'15%',
			'height':'15%'
			}});
	
	file.animate({position:queencoords, duration:700, complete:function(){
		file.position = queencoords;
		console.log(startcoords);
		file.animate({position:endcoords, duration:700, complete:function(){
			console.log("done");
			file.remove();
			
			if(addToDest){
				addFileToNode(fileid,destid);
			}
			if(doneCallback){
				doneCallback();
			}
		}});
		}});
	
	
}

function workerOnline(id){
	cy.getElementById(id).style().backgroundColor = "#fccf14";
}
function workerOffline(id){
	cy.getElementById(id).style().backgroundColor = "gray";
}
function workerKicked(id){
	id = String(id)
	cy.getElementById(id).style('content', id+": banned for misbehavior");
	cy.remove("[target = '"+id+"']");//remove the network edge
	
	cy.getElementById(id).animate({
	style:{backgroundColor:'red'},
	easing:'spring(0.05,0.0001)',
	duration:5000,
	complete:function(){
	
	
		for(node of cy.getElementById(id).data().filesCollection){
			cy.remove(node);
		}
		console.log(id)
		window.networkmembers = window.networkmembers.not(cy.$('#'+id))
		cy.remove(cy.getElementById(id));
		//let toRemove = window.networkmembers.find(a => a.data().id == id);
		
		window.networkmembers.layout(layout).run();
	
	}});
	
	
}
function fileDeleted(fileid){
	cy.remove("node[id *= '"+fileid+"']");
}
function heldFileDeleted(fileid, holderid){
	cy.remove("node[id *= '"+fileid+" at "+holderid+"']");
	
}


window.networkmembers = cy.collection();
window.networkmembers.push(cy.getElementById("queen"));


scenarioFiles = [];
function setup(){
	addWorker("1", true);
	addWorker("2", true);
	addWorker("3", true);
	addWorker("4", true);
	
	for(let i = 1; i < 5; i++){
		scenarioFiles.push(i+"'s "+crypto.randomUUID());
	}
	
	addFileToNode(scenarioFiles[0], "2");
	
	addFileToNode(scenarioFiles[0], "3");
	
	addFileToNode(scenarioFiles[1], "4");
	addFileToNode(scenarioFiles[1], "1");
	
	addFileToNode(scenarioFiles[2], "4");
	addFileToNode(scenarioFiles[2], "2");
	
	addFileToNode(scenarioFiles[3], "1");
	addFileToNode(scenarioFiles[3], "3");
	
	window.networkmembers.layout(layout).run();
	
	
}

function runScenario(scenario){
	if(scenario === 'newUpload'){
		let newId = "2's "+crypto.randomUUID();
		scenarioFiles.push(newId);
		sendFile("2","3",newId,true)
		sendFile("2","4",newId,true)
	}
	if(scenario === 'workerKicked'){
		let tokick = 1;
		let todel = scenarioFiles[tokick-1];
		let toRedist = [scenarioFiles[1], scenarioFiles[3]];
			/*for(j of cy.getElementById(tokick+"").data().filesCollection){
				
			}*/
		
		
		
		workerKicked(String(tokick));
		cy.delay(2000);
		//cy.getElementById("4").data().filesCollection.remove(
		//cy.getElementById(todel[0]+' at 4'))
		cy.remove(cy.getElementById(todel+' at 3'));
		cy.remove(cy.getElementById(todel+' at 2'));
		
		sendFile("4","3",scenarioFiles[1],true)
		sendFile("3","2",scenarioFiles[3],true, function(){
			
		});
	}
}

//since we can only find out who sent a file after its uploaded
let toRelease = [];
let pendingDownloads = [];
function parseMessage(msg){
	console.log(msg);
	msg = JSON.parse(msg);
	let sentTo = msg.sentTo;
	msg = msg.msg;
	switch(msg.type){
		case "init":
			for (let worker of msg.workers){
				addWorker(String(worker.id),worker.online);
				for(let file of worker.heldBlocks){
					addFileToNode(file,worker.id);
				}
			}
			setTimeout(function(){window.networkmembers.layout(layout).run();},1000);
		break;
		case "acceptWorker":
			addWorker(String(msg.workerID));
		break;
		case "storeFile":
			toRelease.push({"id":msg.fileID, "sentTo": sentTo});
			
			//addFileToNode(msg.fileID, sentTo);
		break;
		
		case "uploadAccept":
			for(upload of toRelease){
				sendFile(sentTo,upload.sentTo,sentTo+"'s "+upload.id,true,function(){});
			}
			toRelease = [];
		break;
		case "fileRequest":
			pendingDownloads.push({"fileID":msg.fileID, "downloadFrom": sentTo});
		break;
		case "downloadResponse":
			for(fileReq of pendingDownloads){
				sendFile(fileReq.downloadFrom,sentTo,fileReq.fileID,false,function(){});
			}
		break;
		case "delete":
		console.log(msg)
			for(file of msg.toDelete){
				fileDeleted(file);
			}
		break;
	}
}

function connect(url){
	ws = new WebSocket('ws://'+url);
	ws.addEventListener('error', function(err){
		console.log('err',err);
		alert('connection issue.');
	});
	ws.addEventListener('message', function(msg){
		parseMessage(msg.data);
	});
}

function init(){

}
connect(prompt("url:port"));
//owner:2
//id 
//inside blob?

//smaller slower transfer animation


</script>